
.full-bleed {
    width: 100%;

      background: url(image.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    margin: 0 auto;
    height: 800px;
    max-height:800px;
    position: relative;
}

.hotspot {
    border: none;
    outline: none;
    background: none;
    z-index: 2;
    height: 600px;
    width: 300px;
    position: absolute;
}

.hotspot a {
    display:block;
    height:100%;
    width:100%;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    max-width: 1920px;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    float: left;
}

.tab-links a {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#F00;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    width: 1000px;
    margin-left:50px;
    float: left;
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}