
body {
    overflow-x:hidden;
    font-family: 'Open Sans', sans-serif;
}

.full-bleed {
    width: 100%;
    background: url("image.jpg") no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    height: 800px;
    position: relative;
}

.hotspot {
    border: none;
    outline: none;
    background: none;
    z-index: 2;
    width: 250px;
    height: 100%;
    position: absolute;
}

.hotspot a {
    display:block;
    height:100%;
    width:100%;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.tabs {
    width:100%;
    display:inline-block;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    float: left;
    display: none;
}

.tab-links.visible {
    display: block;

}

.tab-links.mobile {
    position: fixed;
}

.tab-links a {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#F00;
    color:#4c4c4c;
}

.tab-content {
    max-width: 1000px;
    margin-left:50px;
    float: left;
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

.hamburger {
    display: none;
}

.hamburger.visible {
    display: block;
}

.hamburger.expanded {
    position: fixed;
    left: 200px;
}

@media (max-width: 1920px) {
    .full-bleed {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
  }
}

@media (max-width: 1440px) {
    .hotspot {
        width: 15%;
    }

    .wrapper {
        width: 100%;
    }

    .tab-content {
    width: 70%;
    margin: 0;
    }

    .tab-links {
        width: 150px;
        margin-right: 40px;
    }

    .full-bleed {
        height: 45vh;
    }
}

@media (max-width: 1100px) {
    .full-bleed {
         height: 40vh;
    }
}

@media (max-width: 749px) {
    .full-bleed {
         height: 25vh;
    }

    .tab-content {
        width: 100%;
    }
}